/* Write your CSS here */
.language-btn {
  color: #0f172a;
  font-size: 18px;
  border-radius: 30px;
  height: 35px;
  width: 100px;
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.selected-language-btn {
  color: #0284c7;
  border: 1px solid #0284c7;
  background-color: transparent;
  font-size: 18px;
  border-radius: 30px;
  height: 35px;
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
}
